<md-content class="Page-Container mainHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="mainHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/icons/23-logo.svg" ui-sref="app.landing" class="mainHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="mainHeader-link md-subhead" ui-sref="app.landing">Dev</a>
                    <account-menu><account-menu>
                </div>
            </div>
        </div>
    </div>
</md-content>
